body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}

.navigation {
  z-index: 999;
  position: fixed;
  height: 80px;
  width: 100%;
  background: #03529b;
  box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.25);

  .nav_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .nav_logo {
      width: 260px;

      a img {
        width: 90px;
        height: auto;
      }
    }

    .nav_menu {
      ul {
        display: flex;
        gap: 10vw;

        li a {
          color: white;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 20px;
          white-space: nowrap;
        }
      }
    }

    .nav_lang {
      width: 260px;
    }
  }
}

header {
  position: relative;
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      color: white;
      font-size: 45px;
      position: absolute;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      text-align: center;

      span {
        font-size: 50px;
      }
    }
  }


  .header_right_hand {
    position: relative;
    top: 0;
    left: 55%;

    .img_right_hand {
      transform: rotate(-10deg);
    }

    .header_heart {
      margin-left: 13%;
      margin-top: 10%;
      position: absolute;

      .img_heart {
        user-select: none;
        -webkit-user-drag: none;
        transition: transform 3.5s cubic-bezier(0.31, 0.35, 0.09, 0.96);
        transform: rotate(-115deg);
        width: 10vw;
        height: auto;
      }

      .img_heart.fade {
        transform: rotate(-115deg) translate(5vw, 45vh);
      }
    }
  }

  .header_left_hand {
    transform: scaleX(-1);
    position: relative;
    top: 60%;
    right: 55%;

    .img_left_hand {
      transform: rotate(25deg);
    }
  }

  .img_hand {
    user-select: none;
    -webkit-user-drag: none;
    position: absolute;
    width: 60vw;
    height: auto;
    transition: transform 3s cubic-bezier(0.31, 0.35, 0.09, 0.96);
  }

  .img_right_hand.fade {
    transform: rotate(-10deg) translate(15vw, -10vh);
  }

  .img_left_hand.fade {
    transform: rotate(25deg) translate(15vw, 10vh);
  }

  height: 100vh;
  width: 100%;
  background: rgb(1, 86, 165);
  background: -moz-linear-gradient(45deg, rgba(1, 86, 165, 1) 0%, rgba(39, 101, 177, 1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(1, 86, 165, 1) 0%, rgba(39, 101, 177, 1) 100%);
  background: linear-gradient(45deg, rgba(1, 86, 165, 1) 0%, rgba(39, 101, 177, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0156a5", endColorstr="#2765b1", GradientType=1);
}

.centres {
  overflow: hidden;
  height: 450px;
  width: 100%;

  .centres_wrap {
    display: flex;

    .centres_border {
      width: 1.5px;
      height: 450px;
      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(141, 192, 240, 1) 50%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(141, 192, 240, 1) 50%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(141, 192, 240, 1) 50%, rgba(255, 255, 255, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    }

    .centres_box {
      position: relative;
      box-sizing: border-box;
      padding: 20px 20px 100px 20px;
      width: 49.9vw;
      height: 450px;

      h3 {
        height: 35%;
        color: rgb(1, 86, 165);
        margin: 0;
        padding: 0;
        font-weight: 500;
        font-size: 36px;
      }

      .centres_description {
        height: 40%;
        color: #000;
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
      }

      .centres_find {
        position: absolute;
        border: 1px solid red;
        width: 220px;
        height: 55px;
        color: white;
        background: #fd3d3d;
        font-weight: 600;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .left_btn {
        left: 50px;
      }

      .right_btn {
        right: 50px;
      }
    }

    .left-box {
      padding-left: 50px;
      background: rgb(141, 192, 240);
      background: -moz-linear-gradient(45deg, rgba(141,192,240,1) -400%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(141,192,240,1) -400%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(45deg, rgba(141,192,240,1) -400%, rgba(255, 255, 255, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8dc0f0", endColorstr="#ffffff", GradientType=1);
    }

    .right-box {
      padding-right: 50px;
      text-align: right;
      background: rgb(141, 192, 240);
      background: -moz-linear-gradient(320deg, rgba(141,192,240,1) -400%, rgba(255, 255, 255, 1) 100%);
      background: -webkit-linear-gradient(320deg, rgba(141,192,240,1) -400%, rgba(255, 255, 255, 1) 100%);
      background: linear-gradient(320deg, rgba(141,192,240,1) -400%, rgba(255, 255, 255, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8dc0f0", endColorstr="#ffffff", GradientType=1);
    }
  }
}

.values {
  z-index: 1;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 0 27px 14px rgba(135, 159, 255, 1);

  .container {
    display: flex;
    justify-content: space-between;

    div {
      width: 45%;
    }
  }
}

.partners {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 4%, rgba(220,238,255,1) 83%);
  padding-bottom: 20px;
  .container {
    padding-top: 30px;
    .partners_header {
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      margin-bottom: 50px;
      p {
        display: inline-block;
        font-size: 32px;
      }
      img {
        width: 80px;
      }

    }
    .partners-container{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
      grid-auto-rows: auto;
      width: 64%;
      margin: 0 auto;
      img{
        width: 165px;
        height: auto;
        align-self: center;
        justify-self: center;
      }
    }

  }
}