/*Linear background*/
/*background: rgb(1, 86, 166);*/
/*background: linear-gradient(90deg, rgba(1, 86, 166, 1) 0%, rgba(0, 200, 232, 1) 50%, rgba(1, 86, 166, 1) 100%);*/

body {
  margin: 0;
}

header {
  margin-top: 75px;
  height: 100vh;
  background: url("../resources/images/header_background.png") no-repeat center center/cover;
  .container {
    height: 100%;
    display: flex;
    .institute{
      width: 40%;
      display: flex;
    }
    .abbreviation{
      width: 35%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 75px;
      p{
        text-align: center;
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        span{
          color: red;
          font-size: 24px;
        }
      }
    }
  }
}

h1 {
  color: #fff;
  font-size: 48px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.logo {
  width: 70px;
  height: 70px;
}

.navigation {
  position: fixed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255,1);

  .container:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 65%;
    padding-top: 2px;
    p{
      text-align: center;
      font-size: 24px;
      width: 380px;
      margin: 0;
      padding-top: 5px;
      font-family: 'Montserrat', sans-serif;
    }
    img{
      margin-right: 225px;

    }
  }
  .container:nth-child(2){
    background:rgba(1, 86, 166, 1);
    display: flex;
    justify-content: center;
    gap: 80px;

    p{
      width: 150px;
      color: white;
      font-size: 18px;
      padding: 0;
      margin: 14px 0;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      white-space: nowrap;
      text-align: center;
    }
  }
}

.lang_menu {
  width: 125px;
  text-align: right;
  font-weight: bold;
  position: relative;
  margin-right: 15px;

  .selected_lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .selected_lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../resources/images/ua.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: -10px;
    width: 140px;
    border-radius: 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    li {
      list-style: none;
      text-align: left;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        width: 140px;
        padding: 5px 10px;
        display: block;
      }

      a:before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-right: 10px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    li:hover {
      background-color: #f2f2f2;
    }
  }


}

.visible {
  display: inline-block !important;
}

.ua:before {
  background-image: url("../resources/images/ua.png");
}

.en:before {
  background-image: url("../resources/images/en.png");
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_open .nav {
  transform: translateX(0);
}

.nav {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: #333333;
  transform: translateX(350px);
  transition: transform 0.2s;
  overflow: hidden;
}

.nav_close {
  background: none;
  display: flex;
  align-items: center;
  border: none;
  padding: 15px 25px;
  color: #dddddd;
  margin-left: auto;
  cursor: pointer;
}

.nav_close:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav_links-container {
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
}

.nav_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  text-decoration: none;
  color: #dddddd;
}

.nav_link:hover {
  background: rgba(255, 255, 255, 0.05);
}

.nav_text {
  font-size: 22px;
  font-family: "Assistant", sans-serif;
  font-weight: 500;
}

.main {
  transition: transform 0.2s;
}

.button {
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.button:hover {
  background: rgba(0, 0, 0, 0.25);
}


.mission {
  .container {
    padding-top: 20px;
    height: 700px;
    display: flex;
    justify-content: center;

    h2 {
      font-size: 40px;
    }
  }
}

.partners {
  .container {
    background: rgb(1, 86, 166);
    background: linear-gradient(90deg, rgba(1, 86, 166, 1) 0%, rgba(0, 200, 232, 1) 50%, rgba(1, 86, 166, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 75px 0;
    box-sizing: border-box;
    height: 100vh;

    h2 {
      font-size: 50px;
    }

    .partners_list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 70px;
    }
  }
}

.partner_logo {
  img {
    width: 250px;
    height: auto;
    transition: all 0.5s ease-in-out;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.partners_list {
  .arrow {
    width: 70px;
    height: auto;
    transition: all 0.2s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
  }

  .arrow:nth-child(5) {
    transform: rotate(180deg);
  }

  .arrow:hover {
    cursor: pointer;
  }

  p {
    text-align: center;
    font-size: 24px;
    width: 250px;
  }
}
